html, body{
    height:100%;
}
@font-face {
    font-family:"newfont";
    src: url("newfont.ttf") /* TTF file for CSS3 browsers */
}
body
{
	background: url(pp11.jpg) ; no-repeat center center fixed #000;
    background-repeat:no-repeat;
	position: relative;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;


}
.navbar {
    margin-bottom: 0;
    background-color: black ;
    border: 1.5px solid #2d2d30;
    font-size: 12px ;
    font-family: Lato;
    letter-spacing: 2px;
    opacity: 0.7;
}

.navbar-left { 
  margin-right: 10px;
 }

 .navbar .navbar-brand { 
    color:#fff;
    font-size: 18px;
   

}
.navbar .navbar-brand a { 
    color:#fff;
    font-size: 22px;
    text-decoration: none;

}
 .navbar .navbar-brand:hover{ 
    color:#fff;

}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    font-size: 14px;
    font-family: ubuntu;
}


.navbar-default .navbar-nav li.active a {
    color:  #9d2025;
    background-color:#fff;
}


.navbar-default .navbar-toggle {
    border-color: transparent;
}

#mainContent
{
	height:80%;
    top: 20%;
	background-color: transparent;
	position: fixed;

	

}

#mainContent h1
{
    font-family: 'newfont';
    font-size: 100px;
   
    color:saddlebrown;
}

.horizontal_dotted_line{
  border-bottom: 4px dotted white;
  width: 100%;
  margin-top: 10%;
}

#mainContent h3
{
	font-family: Lato;
	color: white;
	letter-spacing: 1px;
}
#mainContent h2
{
	font-family: Ubuntu;
	color: white;
	letter-spacing: 1px;
	font-weight: normal;
}

#below
{
	margin-top: 5%;	
}

.buttonclassic {
    color: white;
    background: transparent;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 3.5%;
    font-family: Lato, sans-serif;
    border: 2.25px solid white;
    font-size: 50px;
    letter-spacing: 2px;

    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fff;
   -webkit-transition: all ease 0.25s;
   -moz-transition: all ease 0.25s;
   transition: all ease 0.25s;
}
.buttonclassic:hover {
    box-shadow: inset 0 0 125px 125px  white;
    color: black;
}


@media only screen and (max-width:767px)
{
   
#mainContent
{
	height:40%;
	top: 8%;
	
	

}
 .navbar-left
 {
    padding-left: 70%;
 }
 .navbar-brand a:nth-child(2) { 

    display: none;
   

}

.buttonclassic {
 
    margin-top: 4.5%;
    font-size: 30px;
    letter-spacing: 1.5px;
}
#mainContent h1
{
	font-size:75px;
	font-weight:bold;
	letter-spacing: 1.25px;
}

}
